<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">Fork.Kitchen</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                <form class="form-inline search-form">
                  <div class="form-group">
                   <label class="sr-only" for="search">Search</label>
                   <div class="input-group">
                     <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search for recipes">
                     <div class="input-group-addon"><i class="fa fa-search"></i>
</div>
                   </div>
                 </div>
                </form>
              </li>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
